*{
    padding: 0;
    margin: 0;
}
.hello-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fcf9f5;
}
.text-div{
    width: 50vw;
    padding-left: 20px;
}
.welcome-title{
    font-size: 2.8rem;
    margin: 10px;
}
.colored-text{
    color: orangered;
    padding: 10px;
}
.objective-text{
    font-size: 1.2rem;
    padding: 10px;
    margin: 10px;
    width: 50%;
}
.primary-button{
    display: block;
    width: 30%;
    text-align: center;
    font-size: 1.3rem;
    text-decoration: none;
    padding: 20px;
    margin: 10px 20px;
    color: white;
    background: linear-gradient(orangered, orange);
    border-radius: 35px;
    box-shadow: -4px -4px 10 orange;
}
.image-div{
    width: 50vw;
}
.image{
    display: block;
    width: 80%;
    margin: auto auto;
}

.about-section{
    display: flex;
    background-image: url("images/shapes/7.png");
    background-size: 100vw;
    background-repeat: none;
    align-items: center;
    justify-content: center;
}
.about-title{
    font-size: 2rem;
    color: black;
    padding: 10px;
    margin: 10px;
}
.about-details-text{
    font-size: 1.2rem;
    width: 50%;
    padding: 10px;
    margin: 10px;
}
